<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h2>Your past rentals</h2>
        <% @rentals.each do |rent| %>
          <h3><%= rent.motorbike.brand %></h3>
          <p><%= rent.motorbike.model %></p>
          <p><%= rent.motorbike.description %></p>
          <% rent.reviews.each do |review| %>
            <p><%= review.content %></p>
            <p><% (review.rate).times do %>
              <i class="fa fa-star-o"></i>
            <% end %></p>

            <% end %>
          <%= simple_form_for Review.new, url: create_review_path(rent) do |f|%>
            <%= f.input :content %>
            <%= f.input :rate %>
            <%= f.submit %>
            <hr>
          <% end %>
        <% end %>
          <h4 class="text-align">Rate your experience!</h4>
    </div>
  </div>
</div>
