<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h2>My pending rentals</h2>
      <% @user.motorbikes.each do |moto| %>
        <% unless moto.rentals.empty? %>
          <p>Brand: <%= moto.brand %></p>
          <p>Model: <%= moto.model %></p>
          <p>Status: <%= moto.rentals.first.status %></p>
          <%= link_to "Confirm booking", motorbike_confirm_booking_path(moto, moto.rentals.first), method: :patch, class:'btn btn-success' %>
          <%= link_to "Cancel booking", motorbike_decline_booking_path(moto, moto.rentals.first), method: :put, class:'btn btn-danger' %>
        <% end %>
      <% end %>
      <hr>
    </div>
  </div>
</div>
