<h2>My motorbikes</h2>
<div class="all-motor">
<% if current_user.motorbikes.empty?  %>
<p>You dont have any motorbikes but you can add one</p>
<p><%=link_to t(".top_call_to_action", default: "Click here to add a Motorbike"), new_motorbike_path, class: "navbar-new-motorbike"%></p>
<% else %>
  <% @user.motorbikes.each do |r| %>
    <%= link_to motorbike_path(r), class: 'link-rental' do %>
    <div class="container-motor-profile grow">
      <div class="profile-motor-picture">
        <img src="<%= cl_image_path r.photo.path, width: 200, height: 130, crop: :fill %>">
      </div>
      <div class="profile-motor-brand">
        <h4><%= r.brand %></h4>
        <p><%= r.model %></p>
      </div>
      <div class="profile-motor-model">
        <p class="price-motor"><%= r.day_price %>€</p>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>
  <%end  %>
</div>

