<div class="profil-card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<% if @user.photo? %><%= cl_image_path @user.photo.path, height: 300, width: 400, crop: :fill %><% else %><%= current_user.facebook_picture_url %><% end %>')"">
  <div class="card-category">Driver</div>
  <div class="card-description">
  <i class="fa fa-star" style="color: yellow;"></i>
  <i class="fa fa-star" style="color: yellow;"></i>
  <i class="fa fa-star" style="color: yellow;"></i>
  <i class="fa fa-star" style="color: yellow;"></i>
  <i class="fa fa-star"></i>
  </div>
</div>
<div class="profil-card-text">
  <h2><%= @user.first_name  %></h2>
  <p><%= @user.last_name %> </p>
  <p><%= @user.email %> </p>
  <p><%= @user.description %> </p>
</div>

