  <div class="panel-header">
    <p>Your Rental</p>
  </div>
  <ul class="list-layout">
    <li class="panel-body thread-read thread" id="thread_230364904">
      <div class="row">
        </div>
          <div class="col-4">
          <% @user.rentals.each do |r|%>
            <p>Brand: <%= r.motorbike.brand %></p>
            <p>Model: <%= r.motorbike.model %></p>
            <p>Start Date: <%= r.start_date %></p>
            <p>End Date: <%= r.end_date %></p>
            <p>End Date: <%= r.status %></p>
            <% end %>

            </li>
            </ul>
          </div>
      </div>
  <div class="panel-body">
  </div>
