<div class="container">
  <div class="row">
    <h1>Choose a motorbike</h1>
      <% @motorbikes.each do |motorbike| %>
        <%= link_to motorbike_path(motorbike) do %>
          <div class="col-xs-12 col-md-4">
            <div class="motorbike-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path motorbike.photo.path %>')">
              <div class="motorbike-card-name">
                <span><%= motorbike.brand %></span><span><%= motorbike.model %></span>
              </div>
              <div class="motorbile-card-price">
                <%= motorbike.day_price %>€
              </div>
              <div class="motorbike-card-owner-name">
                <%= motorbike.user.first_name %>
              </div>
              <div class="motorbike-card-avatar">
                <img src="<%= cl_image_path motorbike.user.photo.path %>" alt="" class="avatar">
              </div>
              <div class = "motorbike-card-rating">
                <i class="fa fa-star" style="color: yellow;"></i>
                <i class="fa fa-star" style="color: yellow;"></i>
                <i class="fa fa-star" style="color: yellow;"></i>
                <i class="fa fa-star" style="color: yellow;"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

