<div class="motorbike-subnav-filters-form text-center">
  <form action="<%= motorbikes_path %>" class="form-inline">
        <input type="text" class="form-control input-lg location" placeholder="Where? " name="location" value="<%= @location %>">
        <input data-provide="datepicker" class="form-control input-lg" placeholder="Start date " name="start_date" data-date-format="dd/mm/yyyy" value="<%= @picked_start_date %>">
        <input data-provide="datepicker" class="form-control input-lg" placeholder="End date" name="end_date" data-date-format="dd/mm/yyyy" value="<%= @picked_end_date %>">
        <input type="submit" class="button-blue" value="Search">
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 motorbikes-filters-form" >
      <form action="/motorbikes">
        <div class="form-group">
          <label for="motorbike-type">Motorbike Type :</label>
          <select class="form-control" id="motorbike-type" name="category" >
            <option></option>
            <option>Road</option>
            <option>Off-Road</option>
            <option>Scooter</option>
            <option>Trail</option>
          </select>
        </div>
        <div class="form-group">
          <label for="max-day-price">Maximum day price :</label>
          <input type="text" class="form-control" id="max-day-price" name="max-day-price" value="<%= @max_day_price %>">
        </div>
        <div class="form-group">
          <label for="min-eng-size">Minimum engine size :</label>
          <input type="text" class="form-control" id="min-eng-size" name="min-eng-size" value="<%= @min_eng_size %>">
        </div>
        <div class="form-group">
          <label for="max-eng-size">Maximum engine size :</label>
          <input type="text" class="form-control" id="max-eng-size" name="max-eng-size" value="<%= @max_eng_size %>">
        </div>
        <input type="hidden" name="location" value="<%= @location %>">
        <input type="hidden" name="start_date" value="<%= @picked_start_date %>">
        <input type="hidden" name="end_date" value="<%= @picked_end_date %>">
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>
    <div class="col-xs-12 col-md-8 container">
      <div class="row">

      <div class='text-center' style='color: #999999; padding-top:18px;'>
        <% if @motorbikes.to_a.count == 0 %>
          <p>Sorry, there is no motorbike corresponding to your search %></p>
        <% elsif @motorbikes.to_a.count == 1 %>
          <p>There is one motorbike corresponding to your search</p>
        <% else %>
          <p>There are <%= @motorbikes.to_a.count %> motorbikes</p>
        <% end %>
      </div>

        <% @motorbikes.each do |motorbike| %>
          <%= link_to motorbike_path(motorbike) do %>
            <div class="col-xs-12 col-md-6">
              <%= render 'shared/motorbike_card', motorbike: motorbike %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
