
<div class="moto-wrapper text-center">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="col-item">
          <% if @motorbike.photo? %>
          <%= cl_image_tag @motorbike.photo.path, width: 400, crop: :fill, id: "moto-photo" %>
          <% end %>
          <br>
          <h5 class="sub-titles">Average rating</h5>
          <% (@motorbike.average_rating).times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 motor-show-description">
        <div class="col-item col-item-left">
          <h2><%= @motorbike.brand %> <%= @motorbike.model %></h2>
          <p><%= @motorbike.description %></p>
          <% if user_signed_in? %>
            <% if @motorbike.user == current_user %>
              <%= link_to 'Edit', edit_motorbike_path(@motorbike), class: "btn btn-default" %>
              <%= link_to 'Delete', motorbike_path(@motorbike),
              method: :delete,
              data: { confirm: "Sure you want to delete the Motorbike ?"},
              class: "btn btn-danger" %>
            <% end %>
          <% end %>
          <hr>

          <%= simple_form_for ([@motorbike, @rental]) do |f| %>
            <% if user_signed_in? %>
              <% if @motorbike.user == current_user %>
                <h2>Nice bike <%= @motorbike.user.first_name %> ;)</h2>
              <% elsif current_user.rentals.where(motorbike_id: @motorbike.id).first.nil? %>
                <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
                <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
                <%= f.submit "BOOK NOW", class: "button-orange" %>
              <% elsif current_user.rentals.where(motorbike_id: @motorbike.id).first.status == "Pending"%>
                <h3><%= current_user.first_name.capitalize %>, your rental for this bike is pending ;)</h3>
              <% elsif current_user.rentals.where(motorbike_id: @motorbike.id).first.status == "Booked"%>
                <h3><%= current_user.first_name.capitalize %>, your rental for this bike has been aproved!</h3>
              <% end %>
            <% else %>
              <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
              <%= f.submit "BOOK NOW", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container wrapper-review-show">
  <div class="row">
    <div class="xs-12 col-md-6 col-md-offset-3">
    <h4>What they think about the <%= @motorbike.brand %> <%= @motorbike.model %></h4>
      <% @motorbike.reviews.each do |reviews| %>
        <ul>
          <li><% reviews.rate.times do %>
                <i class="fa fa-star"></i>
              <% end %>
          </li>
          <li><%= reviews.content %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="map-container padded text-center">
  <div id="map" style="width: 100%; height: 400px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      $.fn.datepicker.defaults.format = "dd/mm/yyyy";
      $('.datepicker').datepicker();
    });
    <% end %>
  <% end %>
</div>
