
<h2><%= @motorbike.brand %></h2>
<h2><%= @motorbike.model %></h2>
<p><%= @motorbike.description %></p>

<%= link_to 'Edit', edit_motorbike_path(@motorbike) %>
<%= link_to 'Delete', motorbike_path(@motorbike),
  method: :delete,
  data: { confirm: "Sure you want to delete the Motorbike ?"} %>
<%= link_to 'Back to list', motorbikes_path %>

<%= simple_form_for ([@motorbike, @rental]) do |f| %>
  <%= f.submit "Book now!", class: "btn btn-success" %>
<% end %>
